html, body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
  }
  
  .light-mode {
    background-color: #F5F5F5;
    color: #333;
    transition: background-color 0.25s ease-out;
  }

  .dark-mode{
      background-color: #202020;
      color: #E8E8E8;
  }
  
  .dark-mode nav{
      background-color: #202020;
  }

  nav {
    width: 100%;
    display: flex;
    background-color: #F5F5F5;
    padding: 20px;
  }

  .text-link {
    color: inherit;
    text-decoration: inherit;
    margin-left: 10%; 
    font-weight: bold;
}

a:hover {
  background-color: yellow;
}

.dark-mode a:hover {
  background-color: #FF1493;
}

  

  main {
    padding: 3rem;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.1;
    min-height: 100vh;
  }
  
  h1 {
    margin: 0;
    font-size: 150%;
  }

  h3 {
    font-size: 75%;
  }

  p {
    font-size: 80%;
  }

  /* display: inline-block */
  img {
 
    justify-content: flex-end;
    border-radius: 100%;
    width: 75%;
    box-shadow: 0px 0px 3px 1px #ccc;
  }

  .container{
    display: flex;
  }

  /* .info-container{
    display: inline-block;
    vertical-align: top;
    padding: 5% 0 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 } */
  
  .toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"].checkbox {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: rgb(210, 219, 219);
  }

  .light-mode input[type="checkbox"].checkbox + label{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: rgb(42, 48, 48);
  }
  
  .toggle-container {
    display: flex;

  }
  
  .toggle-container > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
  }
  
  .toggle-container > span:last-child {
    margin-top: 5px;
  }
  
  /* PORTFOLIO ITEMS */
.rg-card {
  margin: 20px;
  display: inline-block;
}

.rg-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.rg-card-info{
  margin-top: 10px;
  min-height: 100px;
}

.rg-card-title{
  font-size: 24px;
  margin: 0px;
}

.rg-card-sub-title {
  font-size: 16px;
  margin: 0px;
}


